#container-header{
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: white;
    box-shadow: 0 0 40px rgb(0 0 0 / 15%);
}

.brand-section{
    display: flex;
    justify-content: flex-start;
    background-color: #FB830F;
    padding: 1vh 3vw;
}

#brand-logo{
    font-family: ArchivoBlack;
    font-size: 50px;
    color: white;
}



nav{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 2vw;
   
}

.nav-section{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 1.4vw;
    z-index: 2;
}

.nav-icon{
    display: flex;
    align-items: center;
    margin-left: 0.8vw;
    text-decoration: none;
}

.text-header{
    display: block;
    margin-top: 5px;
    font-family: Menlo;
    font-size: .975em;
    font-weight: bold;
    letter-spacing: .03125rem;
    line-height: 18px;
    /*margin: 6px 10px 7px ;*/
    text-decoration: none;
    color: var(--header-text-color);
    transition: 0.5s;
}

.nav-section:hover .text-header{
    color: #FB830F;
    transform: translateY(-5%);
}


.nav-toiec-test{
    color: #FF8F00;
    background: rgba(255,143,0,.1);
    border: 1px solid #FF8F00;
    border-radius: 4px;
    transition: background-color .3s;
    width: max-content;
    /*margin-left: 2vw;*/
    padding: 8px;
    transition: 0.5s;
}
  

.nav-toiec-test:hover{
    color: #FB830F;
    transform: translateY(-5%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border: 1px solid #FFA430;
}


.current-page{
    font-family: Menlo;
    text-decoration: none;
    color: var(--header-text-current-color);
}

.nav-section img{
   height: 2.5vh;
   opacity: .5;
   

}
/* USER
    SECTION
        */

.user-infos{
    display: flex;
    align-items: center;
    flex-direction: row;

    margin-left: 25.5vw;
}

.infos-section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: 1.5vw;
    color: #333;
    font-weight: 500;
    transition: 0.5s;
}

.infos-section:hover{
    cursor: pointer;
}

.flag-icon{
    height: 2.5vh;
    width: 1.8vw;
}

.infos-icon{
    position: relative;
    display: block;
    line-height: 75px;
    text-align: center;
    transition: 0.5s;
    height: 2.5vh;
    opacity: .8;
}

.infos-section:hover .user-text {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%,-50%);
}


.user-text{
    position: absolute;
    top: 60px;
    left:50%;
    transform: translate((50%,15%));
    background: #fff;
    width: auto;
    padding: 8px 12px;
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba (0,0,0,0.5);
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.user-text::before{
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background: #fff;
    top: 0px;
    left: 48%;
    transform: rotate(45deg) translateX(-50%);
}

.arrow-icon{
    margin-left: 9px;
    height: 1vh;
    width: 0.6vw;
}
.user-number{
    margin-left: 8px;
}

/* Drop down a bougé*/
.item {
    position: relative;
    z-index: 1000;
  }

.item:hover:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1) transparent;
    transform: translateX(-50%);
    bottom: -12px;
    right: -70%;
    transform: translateX(-100%);
  }
.item:hover .dropdown-menu{
    opacity: 1;
    transform: scale(1);
}
  
  .dropdown-menu {
    position: absolute;
    top: 40px;
    /*ajouter border voir le style de la page ect*/
    left: -220%;
    width: 12vw;
    /* Styles */
    background: white;
    border-radius: inherit;
    border: 1px solid rgba(0,0,0,0.17);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    font-weight: normal;
    transition: all .7s ease-in-out;
    list-style: none;
    
    opacity: 1;
    transform-origin: top;
    transform: scale(0);
    /*transition: top 2.9s ease-in-out;*/
    
  }

  .dropdown-item {
    display: flex;
    align-items: center;
    color: black;
    opacity: 0.7;
    font-size: .975rem;
    font-weight: bold;
    line-height: 38px;
    letter-spacing: .0125rem;
    transition: color .2s ease-in-out;
}

.menu-item-link{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.dropdown-item-img {
    display: flex;
    align-items: center;
    border-radius: 50%;
    width: 2vw;
    height: 3vh;
    margin: 25px;
}