#container-header{
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: white;
    box-shadow: 0 0 40px rgb(0 0 0 / 15%);
}

header .brand-section{
    display: flex;
    justify-content: flex-start;
    background-color: #FB830F;
    padding: 1vh 3vw;
}

#brand-logo{
    font-family: ArchivoBlack;
    font-size: 50px;
    color: white;
}

nav{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 2vw;
}

.nav-section{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.text-header{
    font-family: Menlo;
    font-size: 1em;
    line-height: 18px;
    letter-spacing: .03125rem;
    text-decoration: none;
    font-weight: 600;
    color: var(--header-text-color);
}

.current-page{
    font-family: Menlo;
    text-decoration: none;
    color: var(--header-text-current-color);
}

.nav-icon{
    display: flex;
    align-items: center;
    margin-left: 2vw;
    text-decoration: none;
}

.nav-icon img{
   height: 2.5vh;
   opacity: .5;
   

}
.user-infos{
    display: flex;
    align-items: center;
    flex-direction: row;

    margin-left: 30vw;
}

.infos-section{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 2vw;
}

.flame-icon{
    height: 4vh;
    width: 3vw;
}

.infos-icon{
    height: 3vh;
    width: 2vw;
}

.arrow-icon{
    margin-left: 9px;
    height: 1vh;
    width: 1vw;
}
.feather-number{
    margin-left: 10px;
}