.title{
    font-family: Monserrat;
    font-weight: bold;
    font-size: 22px;
}

.subTitle{
    font-family: Monserrat;
    font-size: 20px;
    color:#00247D;
}

.text{
    font-family: Monserrat;
    font-size: 19px;
}

.explication{
    font-family: Monserrat;
    font-size: 19px;
}

.wordPrimary{
    color:orange;
}

