
.drift-body
{

    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px 40px;
    height: 70vh;
    overflow: hidden;
}

.monitor-drift{
    width: 46vw;
    height: 44vh;
    overflow: hidden;
}

.start-game-section{
    position: absolute;
    height: 41vh;
    width: 46vw;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    outline: none;
    opacity: 0.5;
    z-index: 50;
}

.start-game-text{
    color: white;
    font-weight: bold;
    font-size: 30px;
    animation: startTextScale 3.5s linear infinite;
}

@keyframes startTextScale{
    0%
    {
        transform: scale(1.1);
    }

    50%
    {
        transform: scale(0.95);
    }

    100%
    {
        transform: scale(1.1);
    }
}

.drift-container{
    background: url(../../../../img/game/jungle.jpg);
    background-size: contain;
    height: 45vh;
    animation:  animateRoad 60s linear infinite;
    background-repeat: repeat;
    animation-delay: 1s;
    opacity: 0.9;
    
}

.title-drift{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 2vh;
    align-self: center;
}

.word-drift{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.life-container{
    position: absolute;
    top: 5%;
    left: 5%;
    display: flex;
    align-items: center;
}

.life-number{
    font-family: 'Lato';
    font-size: 23px;
    color: white;
}

.life-icon{
    height: 3vh;
    width: 3vw;
}

.points-container{
    position: absolute;
    top: 5%;
    right: 5%;
    display: flex;
    align-items: center;

}

.points-number{
    font-family: 'Lato';
    font-size: 25px;
    color: #fff;
    font-weight: bold;
    transition: 0.5s;
}

.active-container{
    font-size: 18px;
    padding: 30px;
    animation: wordFade 0.8s;
    animation-fill-mode: forwards;
}

.active-point-number{
    animation: animateUserPoint 0.8s linear;
}


.word-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top : 250px;
    height: 50px;
    width: 100px; /*hauteur / nbr elt*/
   transform: perspective(500px) rotateX(-15deg) translateY(24px) translateZ(25px);
   /* -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);*/
    animation: animateWord 10s linear infinite;
}

.word-container:hover{
    cursor: pointer;
}

.word-vrom{
    position: absolute;
    margin: .5em;
    padding: .7em 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    color: white;
    background-color: #e1d2b8;
    border: 2px solid rgba(112,111,211,0);
    border-radius: 15px;
    outline: none;
    cursor: pointer;
}

.points-word{

    position: absolute;
    font-size: 25px;
    color: green;
    font-weight: bold;
    top: -20px;
    left: 30px;
    opacity: 0;
    visibility: hidden;
}


.active-points{
    animation: animatePoints 1.5s linear ;
}





