.paper-Card{
    height: 85vh;
    width: 66vw;
    background: white;
}

.content-lesson-section{
    display: flex;
    flex-direction: column;
}

.article-title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.3571428571;
    color: #163860;
    margin: 0;
    margin-bottom: 16px;
}

.article-reporter-infos{
    color: #727272;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 1rem;
    line-height: 1.375;
    
}

.reporter{
    color: #163860;
}

.article-date{
    color: #727272;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 1rem;
    line-height: 1.375;
    margin-bottom: 5px;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.media-picture{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 23vw;
    margin-top: 10px;
}

.article-figcation{
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: .875rem;
    line-height: 1.4285714286;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    color: #163860;
}

.fig-credit{
    color: #727272;
    font-style: italic;
}

.article-subtitle{
    color: #163860;
    font-family: noto-serif,Verdana,Georgia,Times,Times New Roman,Garamond,Palatino,serif;
    font-size: 22px;
    line-height: 1.4;
    font-weight: 700;

}

.article-text{
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 17px;
    line-height: 1.5555555556;
    margin-top: 16px;
    color: #163860;
    
}

.fig-quote {
    font-family: Arial, Helvetica, sans-serif;
    padding: 12.5px 25px;
    border-left: 5px solid #eeeeee;
    display: flex;
    flex-direction: row;
}

.fig-quote img {
    fill: #d3e7ff;
    height: 5vh;
    width: 2vw;
}

.fig-text-section{
    display: flex;
    flex-direction: column;
}

.fig-quote-text{
    margin-left: 2vw;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.3333333333;
    color: #163860;
}

.fig-quote-credit{
    margin-left: 2vw;
    font-size: 1rem;
    line-height: 1.375;
    margin-top: 0vh;
}

.paper-marg-adjustment{
    margin-left: 2vh;
}

.paper-top-adjustment{
    margin-top: 1.5vh;
}
