.exercice-skill-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 15px;
    margin:10px;
    height: 14vh;
    width: 25vw;
    background-color: white;

}

.exercice-filter-container{
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 17vh;
    width: 55vw;
    border-radius: 15px;
    margin-top: 2vh;
}

.img-exercice{
    width: 25%;
    height: 100%;
    background-color: aquamarine;
}

.time-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 7%;
    height: 35%;
    margin-top: 1vh;
    margin-left: 1vh;
}

.clock{
    width: 50%;
    height: 50%;
}

.time-shift{
    font-family: Monserrat;
    font-size: 100%;
    margin-top: 5px;
    
}

.content-exercice-container{
    display: flex;
    width: 70%;
    flex-direction: column;
    padding: 1vh;
    justify-content: space-between;
}

.header-exercice-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 20%;
}

.text-exercice{
    height: 40%;
    width: 100%;
    text-overflow: ellipsis;
    font-family: Monserrat;
    font-size: 90%;
}


.footer-exercice{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.title-exercice-skill{
    font-family: Monserrat;
    font-size:20px;
    font-weight: bold;
}