#baby-parrot{
    position: absolute;
    top: -5vh;
    left: 1vw;
    height: 40vh;
    width: 40vw;
}

#medium-parrot{
    position: absolute;
    top: -5vh;
    left: 32vw;
    height: 40vh;
    width: 40vw;
}

#large-parrot{
    position: absolute;
    top: 6vh;
    right: 15vw;
    height: 18vh;
    width: 8vw;
}

.section-skill-card{
    margin:10px;
}

.header-level{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0vh 1vw;
}

.title-level{
    font-family: Monserrat;
    font-size: 26px;
    font-weight: bold;
    color: var(--skill-title-color);
}

.intero-icon{
    width: 1vw;
    height: 2vh;
}

.validation{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:1vw;
    color: var(--skill-text-valisation);
}

.link-exercice{
    height: 2vh;
    width: 2vw;
    align-self: flex-end;
}

.button-train-skill{
    display: flex;
    align-self: center;
    justify-content: center;
    padding: 8px 12px;
    border-radius: 5px;
    font-family: Quicksand;
    font-size: 25px;
    background-color: var(--button-bg-color);
    color: var(--button-color-text);
    font-weight: bold;
    text-decoration: none;
}