.page-exercice-card{
    width: 60vw;
}

.page-exercice-container{
    display: flex;
    flex-direction: column;
    background-color: var(--container-bg-color);
    justify-content: space-between;
    height: 70vh;
    width: 100%;
    padding: 3vh 2vw;
    border-radius: 15px;
}

.content-exercice-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 3vh;
}
.instruction-exercice{
    font-family: Monserrat;
    font-size: 17px;
}

.picture-exercice-section{
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    align-items: center;

}
.picture-exercice{
    height: 20vh;
    width: 8vw;
}
.word-picker{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    width: 8vw;
    height: 3vh;
}

.syno-exercice-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.syno-button-container{
    display: flex;
    align-items: center;
    
    border: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: var(--button-border-color);
    margin-top: 2vh;
    margin-left: 2vw;
    width: 9vw;
    height: 4vh;
}

.syno-button-container:hover{
    background-color: var(--btnSyno-hover-color);
}

.text-syno{
    font-family: Monserrat;
    font-size: 15px;
    font-weight: bold;
    margin-left: 2vw;
}

