.title{
    font-family: Monserrat;
    font-weight: bold;
    font-size: 22px;
}

.subTitle{
    font-family: Monserrat;
    font-size: 20px;
    color:var(--lesson-subtitle-color);
}

.text{
    font-family: Monserrat;
    font-size: 19px;
}

.explication{
    font-family: Monserrat;
    font-size: 19px;
}

.wordPrimary{
    color:var(--lesson-wordPrimary-color);
}

