.button{
    display: flex;
    align-self: center;
    justify-content: center;
    background-color: var(--button-bg-color);
    text-decoration: none;
    color: var(--button-color-text);
    font-family: Quicksand;
    font-size: 25px;
    padding: 5px 10px;
    border-radius: 5px;
}

.yellow-button{
    width: 2vw;
    height: 4vh;
}

.orange-arrow{
    width: 2vw;
    height: 4vh;
}

.button-continue{
    background-color: var(--button-continue-color);
}

.button-previous{
    background-color: var(--button-previous-color);
}