.ptc-card{

    position: relative;
    height: 19vh;
    width: 55vw;
    box-shadow: inset 5px 5px 5px rgba(0,0,0,0.05),
                inset -5px -5px 5px rgba(255,255,255,0.5),
                5px 5px 5px rgba(255,255,255,0.5),
                -5px -5px 5px rgba(255,255,255,0.5);
    border-radius: 15px;
    margin:14px;


}

.ptc-box{
    position: absolute;
    top: 20px;
    left:20px;
    right: 20px;
    bottom: 20px;
    background: #ebf5fc;
    box-shadow:  0 10px 20px rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: 0.5s;
}

.ptc-card:hover .ptc-box{
    transform: translateY(-10%);
    box-shadow:  0 10px 40px rgba(0,0,0,0.2);
    background: linear-gradient(45deg,#F07C27, #e54142);
}

.img-ptc{
    width: 25%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.time-container{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.clock{
    width: 2vw;
    height: 2vh;
    margin: 0.5vw
}

.time-shift{
    font-family: Monserrat;
    font-size: 14px; 
}

.content-ptc-container{
    display: flex;
    width: 70%;
    flex-direction: column;
    padding: 1vh;
    justify-content: space-between;
    border-left: 1px solid rgba(0,0,0,.125);
}

.header-ptc-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 20%;
}

.text-ptc{
    height: 40%;
    width: 100%;
    text-overflow: ellipsis;
    font-family: sans-serif;
    color: #777;
    font-size: 90%;
}


.footer-ptc{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.title-ptc{
    font-family: Monserrat;
    font-size:20px;
    font-weight: bold;
}

.ptc-card:hover .text-ptc,
.ptc-card:hover .title-ptc
.ptc-card:hover .time-shift
{
    color:#fff
}