.button{
    display: flex;
    align-self: center;
    justify-content: center;
    background-color: #EF9645;
    text-decoration: none;
    color: white;
    font-family: Quicksand;
    font-size: 25px;
    padding: 5px 10px;
    border-radius: 5px;
}

.yellow-button{
    width: 2vw;
    height: 4vh;
}

.orange-arrow{
    width: 2vw;
    height: 4vh;
}

.button-continue{
    background-color: #EF9645;
}

.button-previous{
    background-color: #B2B2B2;
}