
.circular-progress{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background-color: orange;
    border-radius: 50%;
}


.inner-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    content: "";
    height : 75%;
    width: 75%;
    background-color: white;
    border-radius: 50%;
}

.circular-value-container{
    font-family: Monserrat;
    font-size: 12px;
    font-weight: bold;
    color: #231c3d;
}

.progress {
    height: 5px;

    overflow: hidden;
    background-color: #494F56;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
}

.progress-bar{
    width: 0%; 
    height: 100%;
    background-color: orange;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 15%);
}