
.af-opacity{
    opacity: 0.3;
}

.activity-finished{
    position: absolute;
    top:30%;
    left: 50%;
    font-family: 'Lato';
    height: 40vh;
    width: 20vw;
    background: #fff;
    box-shadow: 0px 5px 15px -1px rgba(0,0,0,0.5);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    padding: 4vh 3vw;
    opacity: 0;
    visibility: hidden;
    opacity: 1;
    z-index: 5;
    transition: 0.5s;
}

.activefs{
    opacity: 1;
    visibility: visible;
}

.certificate{
    width: 3vw;
    height: 3vh;
}

.af-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 15vw;

}

.title-af{
    font-size: 24px;
    font-weight: bold;    
}

.point-af{
    font-size: 20px;
}

.af-summarize{
    margin-top: 5vh;
}

.text-bar-af{
    margin-bottom: 2vh;
    margin-bottom: 0.5vh;
    color: #718096
}

.step-bar-af{
    background-color: #2b2f3c;
    height: 10px;
    
    border-radius: 5px

}

.fill-af{
    background-color: orange;
    height: 10px;
    width: 0%;
    transition: 0.5s;
    
}

.recap-af {
    margin-top: 3vh;
}

.af-text{
    font-size: 19px;
    font-weight: bold;
    color: #767c7e;
}

.af-sub-text{
    font-family: 'Lato';
    color: black;
    font-size: 16px;
}

.reward-af{
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.af-mr{
    margin-left: 1vw;
}
.af-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 3vh;
    
}

.af-row1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}