.footer-exercise-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.hr-horizontale-exercise{
    border: solid;
    border-width: thin;
    border-color: var(--footer-content-hr-border-color);
    margin-left: -2vw;
    width : 56vw;
}