.summary-container{
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    border-radius: 0.25rem;
    background-color: white;
    height: fit-content;
}

.summary-container-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem;
}

.title-summary{
    font-family: 'Lato';
    font-size: 28px;
    font-weight: 400;
}


.title-section-summary{
    font-family: Monserrat;
    font-size: 20px;
    margin-top: 1vh;
}
.infos-section-summary{
    display: flex;
    flex-direction: row;
    margin-top: 1vh;
}
.row-section-summary{
    display: flex;
    flex-direction: row;
    margin-top: 2vh;
    justify-content: flex-start;
    align-items: center;
}

.row-content-summary{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;

}

.title-row-summary{
    font-family: 'Lato';
    font-size: 19px;
    font-weight: bold;
    width: 8vw;
    color: #767c7e;
}

.level-tag{
    font-family: Monserrat;
    font-size: 17px;
    text-decoration-line: underline;
    text-decoration-color:var(--summary-text-decoration);
    text-underline-offset: 0.5vh;
}

.reward-section-summary{
    display: flex;
    flex-direction: row;
    margin-left: 1.5vw;
}