.page-summary-card{
    width: 23vw;
    height: 80%;
}
.page-summary-container{
    display: flex;
    flex-direction: column;
    background-color: var(--summary-bg-color);
    height: 50%;
    width: 100%;
    padding: 2vh 1vw;
    border-radius: 15px;
}
.title-summary-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.title-summary{
    font-family: Monserrat;
    font-size: 30px;
}
.hr-horizontale{
    border: solid;
    border-width: 1px;
    width: 100%;
    margin-top: 2vh;
}
.section-summary-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.title-section-summary{
    font-family: Monserrat;
    font-weight: bold;
    font-size: 20px;
    margin-top: 1vh;
}
.infos-section-summary{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.row-section-summary{
    display: flex;
    flex-direction: row;
    margin-top: 2vh;
    justify-content: flex-start;
    align-items: center;
}

.row-content-summary{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    width: 13vw;
}

.title-row-summary{
    font-family: Monserrat;
    font-size: 18px;
}

.level-tag{
    font-family: Monserrat;
    font-size: 17px;
    text-decoration-line: underline;
    text-decoration-color:var(--summary-text-decoration);
    text-underline-offset: 0.5vh;
}

.reward-section-summary{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}