@font-face {
    font-family: ArchivoBlack;
    src: url(../../../public/fonts/.ArchivoBlack-Regular.ttf);
}

@font-face {
    font-family: Bukhari;
    src: url(../../../public/fonts/Bukhari\ Script.ttf);
}

@font-face {
    font-family: Quicksand;
    src: url(../../../public/fonts/static/Quicksand-SemiBold.ttf);
}

@font-face {
    font-family: Monserrat;
    src: url(../../../public/fonts/Montserrat/Montserrat-Light.ttf);
}

