@font-face {
    font-family: 'ArchivoBlack';
    src: url(./fonts/ArchivoBlack-Regular.ttf);
}

@font-face {
    font-family: 'Bukhari';
    src: url(./fonts/Bukhari\ Script.ttf);
}

@font-face {
    font-family: 'Quicksand';
    src: url(./fonts/static/Quicksand-SemiBold.ttf);
}

@font-face {
    font-family: 'Monserrat';
    src: url(./fonts/Montserrat/Montserrat-Light.ttf);
}

